body {
    color: white;
    font-family: 'Audiowide', sans-serif;
    margin: 0;
    font-size: 1rem;
}

/* Parte do menu da navbar*/
.navbar { 
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    background-color: greenyellow;
    background-attachment: fixed;
    font-size: 1.5rem;
}

.navbar .menu > a {
    padding: 10px;
    font-size: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}

/*parte do cabeçario da pagina*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(img/Background-header.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: darkgreen;
}

/*parte do corpo da pagina*/
main .meio {
    display: grid;
    grid-template-rows: 0fr 1fr;
   /* flex-direction: column;*/
    /*min-height: 50vh;*/
    background-color: #A9BF04;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    margin: auto;
}

main > h1 {
    text-align: center;
}

main .caixa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;*/
}

main .caixa .card {
    border: 1px solid black;
    border-radius: 5px;
    max-width: 350px;
    height: 350px;
    min-width: 320;
    background-color: darkgreen;

}

main .caixa .card iframe {
    max-width: 350px;
    min-width: 320px;
    height: 240px;
}

main .caixa .card h2,p {
    text-align: center;
}

/*Rodapé*/
/*
footer {
    display: flex;
    background-color: forestgreen;
    justify-content: space-between;
 
}

footer .endereço {
    margin-left: 50px;
}

footer .social > ul {
    list-style: none;
    margin-right: 50px;

}